<div class="ui container">
    <h2>Исходные данные</h2>
    <form method="POST" class="ui equal width form" ng-submit="calculate('/primary/thermocouple/')">
        <h3>Эталонная термопара</h3>
        <div class="fields">
            <div class="required field">
                <label for="etValue">Показания, мВ</label>
                <input type="number" step="0.001" required="true" ng-model="form.etValue" id="etValue" />
            </div>
            <div class="required field">
                <label for="etGrad">Градуировка</label>
                <select ng-model="form.etGrad" id="etGrad" class="ui search dropdown" required="true">
                    <option ng-repeat="gr in grads" value={{gr.name}}>{{gr.name}}</option>
                </select>
            </div>
            <div class="required field">
                <label for="etPriv">T холодных концов, &deg;C</label>
                <input type="number" step="0.001" ng-model="form.etPriv" id="etPriv" required="true" />
            </div>
        </div>

        <h3>Поверяемая термопара</h3>
        <div class="fields">
            <div class="required field">
                <label for="ptValue">Показания, мВ</label>
                <input type="number" step="0.001" required="true" ng-model="form.ptValue" id="ptValue" />
            </div>
            <div class="required field">
                <label for="ptGrad">Градуировка</label>
                <select class="ui search dropdown" ng-model="form.ptGrad" id="ptGrad" required="true">
                    <option ng-repeat="gr in grads" value={{gr.name}}>{{gr.name}}</option>
                </select>
            </div>
            <div class="required field">
                <label for="ptPriv">T холодных концов, &deg;C</label>
                <input type="number" step="0.001" ng-model="form.ptPriv" id="ptPriv" required="true" />
            </div>
        </div>
        <button type="submit" class="ui small primary button">Расчет</button>
    </form>

    <div class="ui hidden divider"></div>

    <ng-include src="'pages/error.html'"></ng-include>

    <div ng-if="show" class="col-sm-offset-1 col-sm-5 results">
        <h2>Результаты</h2>
        <dl>
            <dt>ТЭДС эталонной термопары (привиденная), мВ</dt>
            <dd ng-bind="dt.epr|number:3"></dd>

            <dt>ТЭДС свободных концов эталонной термопары, мВ</dt>
            <dd ng-bind="dt.esk|number:3"></dd>

            <dt>ТЭДС поверяемой термопары (привиденная), мВ</dt>
            <dd ng-bind="dt.tpr|number:3"></dd>

            <dt>ТЭДС свободных концов поверяемой термопары, мВ</dt>
            <dd ng-bind="dt.tsk|number:3"></dd>

            <dt>Измеренная температура, &deg;C</dt>
            <dd ng-bind="dt.realTemp|number:2"></dd>

            <dt>Разность показаний, мВ</dt>
            <dd ng-bind="dt.diffM|number:3"></dd>

            <dt>Разность показаний, &deg;C</dt>
            <dd ng-bind="dt.diffC|number:2"></dd>

            <dt>Разность показаний, %</dt>
            <dd ng-bind="dt.diffP|number:2"></dd>
        </dl>
    </div>
</div>